@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.bmo_react {
  font-family: Roboto;
  font-size: 12px;
  .container {
    background-color: white;
    padding: 10px;
  }
}
